.contacto-container{
  max-width: 700px;
  margin: 40px auto;
  padding: 30px;
  background: #f74545;
  border-radius: 18px;
  box-shadow: 0 0 25px rgba(246, 40, 40, 0.4);
  text-align: center;
}

/* TITULOS */
.contacto-titulo{
  color: white;
  margin-bottom: 5px;
}

.contacto-sub{
  color: #000000;
  margin-bottom: 25px;
}

/* FORM */
.contacto-form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contacto-form input,
.contacto-form textarea{
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #bc0606;
  color: white;
  font-size: 15px;
}

.contacto-form input:focus,
.contacto-form textarea:focus{
  outline: none;
  box-shadow: 0 0 8px rgba(97, 9, 9, 0.8);
}

/* BOTON */
.contacto-form button{
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg,#5b1207,#5b1207);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: .25s;
}

.contacto-form button:hover{
  transform: scale(1.05);
}

/* MENSAJE */
.mensaje-ok{
  margin-top: 20px;
  color: #4cff88;
  font-weight: bold;
}
