h1, h2 {
    color: #9a0404;
    font-family: 'Poppins', sans-serif;
}

.Encabezado {
    background-color: #620101;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    box-shadow: 0 2px 5px rgba(109, 103, 103, 0.05);
}

/* LOGO */

.LogoDiv {
    display: flex;
    align-items: center;
}

.LogoDiv img {
    width: 90px;
    display: block;
    filter: brightness(0) invert(1);
}

/* MENU */

.MenuDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MenuDiv ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 17px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.MenuDiv li {
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s ease;
    color: white; /* 👈 TEXTO BLANCO */
}

/* 👇 por si usas <a> dentro del menú */
.MenuDiv li a {
    color: white;
    text-decoration: none;
}

.MenuDiv li:hover {
    background-color: rgb(101, 5, 5);
}

/* REDES */

.RedesDiv {
    display: flex;
    align-items: center;
    gap: 15px;
}

.RedesDiv ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.RedesDiv li {
    list-style: none;
}

.RedesDiv img {
    width: 28px;
    height: auto;
    transition: transform 0.2s ease;
    filter: brightness(0) invert(1);
}

.RedesDiv img:hover {
    transform: scale(1.1);
}