.suc-container{
  padding: 40px;
  background: radial-gradient(circle at top,#0a1435,#020617);
  min-height: 100vh;
}

.suc-titulo{
  text-align:center;
  color:white;
  font-size: 32px;
  margin-bottom: 35px;
}

/* GRID */
.suc-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
  gap: 28px;
}

/* CARD */
.suc-card{
  background:#09122b;
  border-radius:18px;
  overflow:hidden;
  cursor:pointer;
  transition:.25s;
  box-shadow:0 10px 25px rgba(0,0,0,.5);
}

.suc-card:hover{
  transform:translateY(-6px) scale(1.02);
  box-shadow:
    0 0 20px rgba(70,120,255,.5),
    0 12px 30px rgba(0,0,0,.7);
}

/* IMG */
.suc-card img{
  width:100%;
  height:190px;
  object-fit:cover;
}

/* INFO */
.suc-info{
  padding:18px;
  color:white;
}

.suc-info h2{
  margin-bottom:8px;
}

/* MINI MAPA */
.mini-mapa{
  width:100%;
  height:160px;
  border:0;
}
